# Hands-on 3

### CS2545 - Data Science ###
### Winter, 2023 ###
### UNB, Fredericton ###

Please complete the following and submit this notebook (filename: handson3-**lastname**-**firstname**.ipynb) on D2L by **11:59pm, Friday, February 24**. 
</br>
Late submission until **11:59pm, Sunday, February 26 is possible** with a **penalty of 5%**. 
</br>
</br>

**Q1.**  Create a 7X7 NumPy array with random numbers. Print the element at 2nd row, 3rd column and the element at 5th row and 6th column. **(2 points)**

In [15]:
import numpy as np
import random

np.random.seed(987654)

# your code should start here
array = np.random.rand(7,7)

print(array)

print("Element at Row 2, Column 3: ", array[1,2])
print("Element at Row 5, Column 6: ", array[4,5])

[[0.18442322 0.43138522 0.69510932 0.16817115 0.48363266 0.71496593
  0.34786811]
 [0.78536314 0.32651554 0.77108531 0.76578824 0.34974314 0.21340718
  0.19124298]
 [0.66550935 0.55091803 0.64246753 0.65103664 0.66186773 0.09815941
  0.29974641]
 [0.94044767 0.83444694 0.80283448 0.28364443 0.49737695 0.8511619
  0.34139787]
 [0.12685252 0.73133809 0.02157917 0.26699538 0.35218837 0.84653438
  0.50014452]
 [0.47696779 0.94652413 0.79952383 0.41106176 0.2878406  0.28566213
  0.01289295]
 [0.00736841 0.65408361 0.63463269 0.54650413 0.58444907 0.85872061
  0.53556591]]
Element at Row 2, Column 3:  0.7710853069293363
Element at Row 5, Column 6:  0.8465343780403025

**Q2.a** In the following, the list *closing_price* contains historical stock prices (closing price) of a technology company listed with NYSE. The *dates* list contains the corresponding dates.

Using list comprehension create a list *range_prices*, which contains stock prices (closing price) that are between 120 and 130. **(3 points)**


**Q2.b** Create a Pandas data series  *stock_data_series* from the list *closing_price* (as values) and *dates* (as index). Then, using a NumPy function find the median and average stock price. **(3 points)**

In [18]:
import numpy as np

closing_price = [139.02, 140.85, 141.13, 145.11, 134.05, 130.55, 129.10, 130.02, 131.21, 127.20, 126.45, 124.79, 119.64, 115.40, 115.43, 116.83, 115.67, 120.06, 123.12, 124.84, 123.38, 123.54]

dates = ['10/11/2023', '10/12/2023', '10/15/2023', '10/16/2023', '10/17/2023', '10/18/2023', '10/19/2023', '10/22/2023', '10/23/2023', '10/24/2023', '10/25/2023', '10/26/2023', '10/29/2023', '10/30/2023',  '10/31/2023', '11/1/2023', '11/2/2023', '11/5/2023', '11/6/2023', '11/7/2023', '11/8/2023', '11/9/2023']

# Q2.a
price_ranges = [num for num in closing_price if num >= 120.00 and num <=130.00]
print("The Closing Prices in the range 120-130 are: ", price_ranges)


# Q2.b
stock_data_series = pd.Series(closing_price, dates)
print("\nThe Closing dates and prices are as follows:\n", stock_data_series)
average = np.average(stock_data_series)
print("\naverage: ", average)
mean = np.mean(stock_data_series)
print("\nmean: ", mean)

The Closing Prices in the range 120-130 are:  [129.1, 127.2, 126.45, 124.79, 120.06, 123.12, 124.84, 123.38, 123.54]

The Closing dates and prices are as follows:
 10/11/2023    139.02
10/12/2023    140.85
10/15/2023    141.13
10/16/2023    145.11
10/17/2023    134.05
10/18/2023    130.55
10/19/2023    129.10
10/22/2023    130.02
10/23/2023    131.21
10/24/2023    127.20
10/25/2023    126.45
10/26/2023    124.79
10/29/2023    119.64
10/30/2023    115.40
10/31/2023    115.43
11/1/2023     116.83
11/2/2023     115.67
11/5/2023     120.06
11/6/2023     123.12
11/7/2023     124.84
11/8/2023     123.38
11/9/2023     123.54
dtype: float64

average:  127.1540909090909

mean:  127.15409090909094

**Q3.**  Download the *cereal.csv* file from Hands-on 2. This includes information about the per serving nutritional content of a number of breakfast cereals. The columns in this file represent the following fields (detail and short) and data types: <br>
cereal name [name] - String <br>
manufacturer [mfr] - String <br>
type (cold/hot) [type] - String  <br>
calories (number) [calories] - Int <br>
protein(g) [protein] - Int <br>
fat(g) [fat] - Int <br>
sodium(mg) [sodium] - Int <br>
dietary fiber(g) [fiber] - Float <br>
complex carbohydrates(g) [carbo] - Float <br>
sugars(g) [sugars] -  Int <br>
display shelf (1, 2, or 3, counting from the floor) [shelf] - Int <br>
potassium(mg) [potass] - Int <br>
vitamins & minerals  [vitamins] - Int <br>
weight (in ounces) of one serving (single serving size) [weight] - Float <br>
cups per serving [cups] - Float <br>
rating - Float <br>
<br>

Note, the value -1 indicates missing data.


**Q3.a** Load the data file *cereal.csv* into a dataframe *cereal_df* and show the first 7 rows. **(3 points)**


**Q3.b** Create a second dataframe *cereal_df_new* from *cereal_df*, that only includes the columns *name*, *protein*,	*fat*, *fiber*,	*carbo*, *potass*,	*vitamins*,	and *rating*. Then show the first 7 rows of *cereal_df_new*.  **(3 points)**

**Q3.c** Using dataframe *cereal_df_new* show the cereals with a rating 60 and higher. **(3 points)**

**Q3.d** Using dataframe *cereal_df_new* show the cereals with the lowest and highest ratings. **(3 points)**

*Hint: you can use head() function to show first n rows.*

In [2]:
import pandas as pd

# Q3.a 
cereal_df = pd.read_csv('cereal.csv', sep=";")

cereal_df.head(7)

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
5,Apple Cinnamon Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541
6,Apple Jacks,K,C,110,2,0,125,1.0,11.0,14,30,25,2,1.0,1.00,33.174094

In [4]:
# Q3.b
cereal_df = pd.read_csv('cereal.csv', sep=";")
cereal_df_new = cereal_df[["name", "protein", "fat", "fiber", "carbo", "potass", "vitamins", "rating"]]
cereal_df_new.head(7)

,name,protein,fat,fiber,carbo,potass,vitamins,rating
0,100% Bran,4,1,10.0,5.0,280,25,68.402973
1,100% Natural Bran,3,5,2.0,8.0,135,0,33.983679
2,All-Bran,4,1,9.0,7.0,320,25,59.425505
3,All-Bran with Extra Fiber,4,0,14.0,8.0,330,25,93.704912
4,Almond Delight,2,2,1.0,14.0,-1,25,34.384843
5,Apple Cinnamon Cheerios,2,2,1.5,10.5,70,25,29.509541
6,Apple Jacks,2,0,1.0,11.0,30,25,33.174094

In [6]:
# Q3.c
cereal_df = pd.read_csv('cereal.csv', sep=";")
cereal_df_new = cereal_df[["name", "protein", "fat", "fiber", "carbo", "potass", "vitamins", "rating"]]
rating_above_60 = cereal_df_new[cereal["rating"] >=60]
rating_above_60

,name,protein,fat,fiber,carbo,potass,vitamins,rating
0,100% Bran,4,1,10.0,5.0,280,25,68.402973
3,All-Bran with Extra Fiber,4,0,14.0,8.0,330,25,93.704912
20,Cream of Wheat (Quick),3,0,1.0,21.0,-1,0,64.533816
54,Puffed Rice,1,0,0.0,13.0,15,0,60.756112
55,Puffed Wheat,2,0,1.0,10.0,50,0,63.005645
62,Shredded Wheat,2,0,3.0,16.0,95,0,68.235885
63,Shredded Wheat 'n'Bran,3,0,4.0,19.0,140,0,74.472949
64,Shredded Wheat spoon size,3,0,3.0,20.0,120,0,72.801787

In [13]:
# Q3.d
cereal_df = pd.read_csv('cereal.csv', sep=";")
cereal_df_new = cereal_df[["name", "protein", "fat", "fiber", "carbo", "potass", "vitamins", "rating"]]
max_rating = cereal_df_new["rating"].max()
min_rating = cereal_df_new["rating"].min()
ratings_df = cereal_df_new[(cereal["rating"] == max_rating) | (cereal["rating"] == min_rating)]
ratings_df

,name,protein,fat,fiber,carbo,potass,vitamins,rating
3,All-Bran with Extra Fiber,4,0,14.0,8.0,330,25,93.704912
10,Cap'n'Crunch,1,2,0.0,12.0,35,25,18.042851